/* Reset de Estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

/* Topo */
.header {
  background-color: #ffffff;
  text-align: center;
  padding: 1rem 0;
}

.logo-container {
  margin-bottom: 1rem;
}

.logo {
  max-height: 150px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.navbar li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Área Principal */
.hero-section {
  background-color: #ffffff;
  text-align: center;
  padding: 3rem 0;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #1a5f7a; /* Azul marinho */
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #333;
}

.hero-content img {
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
}

/* Serviços */
.services-section {
  background-color: #808080;
  padding: 3rem 0;
  text-align: center;
  color: #ffffff;
}

.services-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.services-section ul {
  list-style: disc;
  padding-left: 2rem;
  color: #ffffff;
}

/* Sobre Nós */
.about-section {
  background-color: #ffffff;
  padding: 3rem 0;
  text-align: center;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-section p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.about-section img {
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
}

/* Contato */
.contact-section {
  background-color: #808080; /* Cinza claro */
  padding: 3rem 0;
  text-align: center;
  color: #ffffff; /* Texto branco */
}

.map-container iframe {
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin-bottom: 2rem;
}

.contact-info {
  text-align: center;
}

.contact-info p {
  margin: 0.5rem 0;
  color: #ffffff; /* Texto branco */
}
